*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}
body{
    background-color: #f5f5f5;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    /* background-color: green; */
}
.email-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7vw 2vw;
    border: 1px solid grey;
    border-radius: 30px;
    background-color: #f5f5f5;
    margin: 0 2.5vw;
    gap: 20px;
  }
  
  .email {
    font-size: 1.2vw;
    color: #333;
  }
  
  .copy-button {
    padding: 0.7vw 2.2vw;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
   
  }
  
  
.links{
    /* background-color: red; */
    text-transform: uppercase;
    display: flex;
    margin-right: 2.5vw;
    padding: 0.5vw 1.5vw;
    gap: 10px;
    /* font-size: 1.2vw; */
}
.links i{
    font-size: 1vw;
    padding: 0.5vw;
}
.links a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 300;
    color: black;
    cursor: pointer;
    
}

.links a:hover{
    color: grey;
    text-shadow: 0 0 2px white;
    
}
#landingpage{
    height: 60vh;
    /* background-color: red; */
}
#photo{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#photo img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    filter: drop-shadow(6px 0px 1px white);
}

#heading{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2vw 2vw;
}

#heading h2{
    text-transform: uppercase;
}
#heading p{
    font-size: 1.5vw;
    /* background-color: white; */
    width: 70%;
    padding: 0.5vw 1vw;
}
#heading button{
    background-color: black;
    color: white;
    margin: 1.5vw 0vw;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* #heading button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
} */

#company{
    /* background-color: red; */
    /* height: 20vh; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 30px;
    padding: 0vw 0;
    
    cursor: pointer;
}
#company img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    object-fit: contain; /* Ensure the entire image is visible */
    object-position: center; /* Center the image within the container */
    margin: 0 10px; /* Adjust spacing between images */
    box-sizing: border-box; /* Include padding and border in width and height */
}





#company img:hover{
    transform: scale(1.5);
}

#aboutcompany{
    text-align: center;
    padding: 1.5vw 0;
    margin-bottom: 25px;
    height: 20vh;
    font-size: 1.5vw;
    /* border-bottom: 1px solid grey; */
    /* background-color: red; */
}
#aboutcompany button{
    background-color: white;
    margin-top: 50px;
    border: none;
    font-size: 1.2vw;
    padding: 1vw 2vw;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
}

#aboutcompany button:hover{
    background-color: black;
    color: white;
}

#services{
    /* height: 40vh; */
    /* background-color: red; */
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#services .div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vw 1.5vw;
    /* background-color: red; */
}

 #services .div p{
    margin-top: 0.3vw;
    padding: 0.5vw;
    /* background-color: red; */
    width: 80%;
 }

 #services .div button{
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 9px 20px;
    border-radius: 30px;
    border: none;
    margin-top: 5px;
    border: 1px solid black;
}

footer{
    /* background-color: red; */
    height: 20vh;
}

footer h2{
    text-align: center;
}

footer .linksicon {
    /* background-color: red; */
    display: flex;
    /* margin-top: 30px; */
    padding-bottom: 20px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

footer .linksicon a{
    text-decoration: none;
    display: flex;
    gap: 3px;
    color: black;
}

footer .linksicon a:hover{
    color: red;
    transform: scale(1.3);
}


/* --------------------------Responsive Code------------------------- */



 @media (max-width: 600px) {
    nav .links a{
        display: none;
        margin: 0;
    }
    
    nav .email-container{
        width: 100%;
        padding: 3vw;
        margin-left: 2vw;
        text-align: center;
    }
    nav .copy-button{
        
        display: none;
    }
    nav .email-container{
        /* background-color: rebeccapurple; */
        margin-left: 6vw;
    }
    nav .email{
        /* background-color: red; */
        align-items: center;
        font-size: 5vw;
        text-align: center;
        margin-left: 7vw;
    }

    #landingpage{
        height: auto;
        margin: 0;
        width: 100%;
        margin-top: 0px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        box-shadow: 1.5px 1.5px black;
        /* background-color: red; */
    }
    #photo img{
     margin-top: 0px;
    height: 200px;
    width: 200px;    
    }

    #heading h2{
    text-transform: uppercase;
    font-size: 7vw;
    }

    #heading p{
    font-size: 4vw;
    /* background-color: white; */
    width: 100%;
    padding: 1vw 2vw;
    padding-left: 0px;
    margin-top: 5vw;
    text-align: center;
    
    }

    #heading button{
    background-color: black;
    color: white;
    font-size: 5vw;
    margin-top: 7vw;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    }
    
    #company{
     /* background-color: red; */
     /* height: 2vh; */
    
     padding: 0px;
     margin: 0vw 0vw;
    
     align-items: center;
     margin: 0px;
     width: 100%;
     overflow-y: scroll;
    }


    #aboutcompany{
        /* background-color: red; */
        height: 9vh;
        /* margin-top: 20vw; */
        text-align: center;
    }
    #aboutcompany h2{
        /* background-color: green; */
        font-size: 5vw;
    }
    #aboutcompany button{
        font-size: 6vw;
        margin-top: 30px;
        margin-bottom: 0;
        padding: 10px 30px;
    }
    #services{
        /* background-color: green; */
        flex-direction: column;
        margin-top: 100px;
    }
    #services .div{
        /* background-color: rebeccapurple; */
        margin-bottom: 40px;
        border: 1px solid grey;
        border-radius: 20px;
        box-shadow: 2px 0px 10px grey;
        width: 90%;
    }
    #services .div h2{
        /* background-color: red; */
        margin-top: 3vw;
    }
    #services .div p{
        text-align: center;
        /* background-color: yellow; */
        padding: 1.5vw 5vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        width: 100%;
    }

    #services .div button{
        background-color: white;
        color: black;
        font-size: 20px;
        padding: 5px 15px;
        border-radius: 30px;
        margin-bottom: 15px;
    }

    footer{
        display: block;
        background-color: #F3F2F1;
        color: black;
        /* height: 30vh;
        margin-top: 86vh; */
        height: auto;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        box-shadow: 1.5px 0.5px 6px black;
    }
    footer h2{
        /* background-color: red; */
        /* width: fit-content;
        margin-left: 30px;
        margin-top: 30px; */
        padding: 15px;
        /* text-align: center; */
    }
    footer .linksicon{
        /* background-color: yellow; */
        /* padding: 10px 50px;
        margin-top: 0px;
        display: block;
        align-items: center;
        dis
        justify-content: center; */

        display: flex;
        width: 100%;
        gap: 0;
        flex-wrap: wrap;
    }
    footer .linksicon a{
        display: flex;
        /* gap: 10px; */
        padding: 1px 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
    }
    footer .linksicon a:hover{
        transform: none;
    }
}

